/*
#ff4646 - bright red
#ff8585 - salmon
#ffe396 - paler salmon
#fff5c0 - offwhite cream
https://colorhunt.co/palette/226650 
*/

@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

.box{
	height: 175px;
	width: 175px;
	background-color: #ffb396;
	display: inline-block;
	margin: 8px;
	vertical-align: top;
	text-align: center;
	line-height: 175px;
	font-size: 100px;
	color: #ff8585;
}

.titletext{
	text-align: center;
	color:#ff4646;
}

h1.titletext {font-size: 3em;}
p.titletext{font-size: 2em;}

#main{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 575px;
	width: 595px;
	background-color: #ff4646;
	padding: 10px;
}

body{
	background-color: #ffb396;
	font-family: 'Hachi Maru Pop', Arial, cursive;
}

/* Light Box CSS*/

.hidden{
	display: none;
}

.unhidden {
	display: block;
}

#lightbox{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.5);
}

#x {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 30px;
	width: 30px;
	z-index: 2;
}

#positionMessage {
	position: absolute;
	top: 45px;
	left: 0px;
	width: 100%;
}

#boundaryMessage{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: 260px;
	background-color: rgba(255, 245, 192, 0.876);
	z-index: 1;
	padding: 30px;
	border: thick solid #FF4646;
}

#controls{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;	
}

#newbutton {
	position: absolute;
	top: 750px;
	right: 0px;
	left: 5px;
	margin: 30px auto 0;
	padding: 20px 25px;
	background-color: #ff8585;
	color: #fff5c0;
	text-align: center;
	font-size: 20px;
	letter-spacing: 0.5px;
    border: 3px solid #FF4646;
	outline: none;
}

#newbutton:hover{
	transition: 0.3s;
	background-color: #ff4646;
	color: #ffe396;
	text-decoration: underline;
}